---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { getTags } from '@/utils'
const tags = await getTags()
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { getBlogPosts } from "../../../content/config";

const { lang } = Astro.params;
const t = useTranslations(lang);

const posts = (await getBlogPosts())
  ?.filter((blog) => {
    return blog?.data?.lang === lang;
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

export async function getStaticPaths() {
  return ["en", "pt", "es"].map((lang) => {
    return { params: { lang } };
  });
}


---

<BaseLayout title='Tags' lang={lang}>
	<TitlePage title='Tags' />
	<div class='flex justify-center flex-wrap gap-4'>
		{
			tags.map((tag) => (
				<a
					href={`/tags/${tag}`}
					class='inline-block bg-gray-200  rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
				>
					#{tag}
				</a>
			))
		}
	</div>
</BaseLayout>
