/* to basic page style */

:lang(ar) {
  * { letter-spacing: 0 !important; }
}

:root {
  /*   @media (prefers-color-scheme: dark) {
    --color-theme: #ACE7FA;
    --color-fondo: black;
    --color-accent: #075e79;
    --color-base: #010101;
    --color-main: #FCFCFC;
    --color-caution: #FFAA2B;
  }
  
  @media (prefers-color-scheme: light) {
    --color-theme: #0682f5;
    --color-accent: #009df8;
    --color-base: #FCFCFC;
    --color-main: #0e2ee0;
    --color-caution: #0011ff;
  }    */

  --sp-l: 64px;
  --sp-m: 32px;
  --sp-s: 16px;
  @media (width < 480px) {
    --sp-l: 48px;
    --sp-m: 16px;
    --sp-s: 8px;
  }

  --english-font: "Ubuntu", "Robot", "Futura Now Text", "Futura",
    "Avenir Next", "Avenir", "Century Gothic", "SF Pro Text", "Helvetica Neue",
    "Helvetica", "Arial", -apple-system, BlinkMacSystemFont, sans-serif;

 accent-color: var(--color-theme);
  color: var(--color-main);
  background-color: var(--color-fondo); 
  background-size: 16px 16px;


 

  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  @media (width < 480px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.4;
}

p {
  margin-block-start: 0.8em;
}

p a {
  color: var(--color-theme);
  text-decoration: underline;
}

a,
button {
  transition: 0.2s ease-out;
  &:hover,
  &:active {
    transition: 0.2s ease-out;
  }
}

svg,
path {
  fill: currentColor;
  aspect-ratio: 1;
}

[class^="material-icons"] {
  vertical-align: middle;
  font-size: 1.1em;
}
