---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Logo } from "@/components/ui/logo";
import { Icon } from "astro-icon/components";

type Props = {
  className?: string;
};

const { className } = Astro.props;

const { currentLocale } = Astro;
console.log ({currentLocale});
---
<!-- <section class="bg-[#212739] text-primary w-full items-center text-center p-1 hover:cursor-pointer hover:text-white hover:underline hover:outline-1"><a href="https://explorer.gitcoin.co/#/round/42161/39/30" target="_blank">Ronda DeSci Activa en Gitcoin</a></section>
 -->

 <header
  class={cn(
    "flex items-center h-16 md:h-18 z-50 sticky top-0 bg-background",
    className
  )}
>
  <div class="relative container flex items-center justify-between w-full">
    <div class="flex items-center gap-6 md:gap-8 lg:gap-10">
      <a href={`/${Astro.currentLocale}/`} class="hidden items-center space-x-2 md:flex">
        <Logo />
        <span class="hidden font-bold sm:inline-block">
          {siteConfig.name}
        </span>
      </a> 

      <slot name="mobile-nav-header" />

      <div class="hidden md:flex">
        <slot name="left-header" />
      </div>
    </div>

    <!-- logo mobile center -->
    <div
      class="absolute top-1/2 left-1/2 -translate-x-4 -translate-y-4 md:hidden"
    >
      <a href={`/${Astro.currentLocale}/`} aria-label="Astronomy homepage">
        <Logo />
      </a>
    </div>

    <slot name="right-header" />
  </div>
</header>
