---
import BaseLayout from '../layouts/BaseLayout.astro'

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("site.title")} description={t("site.description")} lang={lang}>


<h1 class="text-6xl font-bold ">{t("site.title")}</h1>


</BaseLayout>