---
import BaseLayout from '../../layouts/BaseLayout.astro'

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return ["en", "pt", "es"].map((lang) => {
    return { params: { lang } };
  });
}

---

<BaseLayout title={t("site.title")} description={t("site.description")} lang={lang}>
  
  <div class="justify-center pb-[450px]">
          <div class="">  
          <h1 class="text-8xl font-bold typewriter font-mono max-w-fit">{t("site.title")}</h1>
          <h2 class="text-2xl text-center">{t("home.tagline")}</h2>
          </div>

       
  </div>
</BaseLayout>