---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
/* import { getRelativeLocaleUrl } from 'astro:i18n';

const aboutURL = getRelativeLocaleUrl('es-AR', 'about'); */



---

<MainLayout title="DeSci LATAM">

  <section class="space-y-6 pb-12 pt-16 lg:py-28 flex ">
    <div
      class="container flex flex-wrap-reverse justify-center lg:flex-nowrap items-center gap-5 "
    >
    <div>
    <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
      En el corazon de la evolución cientifica
      </h1>
      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance pb-3"
      >
      Nuestro propósito es aprovechar los 
      principios de la descentralización para 
      construir un ecosistema científico 
      colaborativo y accesible para todos 
      en américa latina.
      </p>
      <a
      href="https://twitter.com/miickasmt"
      class={cn(buttonVariants({ variant: "default", size: "lg" }))}
      target="_blank"
    >
      Seguinos en <Icon name="twitter" class="ml-2 size-4" />
    </a>
    <a
    href="https://twitter.com/miickasmt"
    class={cn(buttonVariants({ variant: "outline", size: "lg" }))}
    target="_blank"
  >
    Seguinos en <Icon name="twitter" class="ml-2 size-4" />
  </a>
    </div>
  <img src="../images/home/mariposa.png" ></img>
    </div>
  </section>

  


</MainLayout>
